<h1>Liste des projets auxquels vous participez :</h1>
<% current_user.adverts.each do |advert| %>
<ul class="list-group">
    
    <% advert.projects.each do |project| %>
        <li class="list-group-item d-flex justify-content-between align-items-center mb-1">
            <%= project.title %> <%= project.description %> <%= link_to "Détails du projet", project_path(project.id) %>
        <span class="badge badge-primary badge-pill">Test affichage</span>
        </li>
    <% end %>
  </ul>
  <% end %>
