<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
      <h1>Salut <%= @user.first_name %>  !</h1>
        <div>
          <p>
            Tu as rejoint le projet <strong><%= @project.title %></strong>.
          </p>
          <p>
            Pour en savoir plus, consulte le projet <a href ="<%= @url %>">en cliquant ici</a>.
          </p>
          <p> À très vite sur Influence !</p>
        </div>
    </div>
  </body>
</html>