<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>
      <h1>Salut <%= @user.first_name %> et bienvenue sur Influence !</h1>
        <div>
          <p>
            Tu t'es inscrit en utilisant l'e-mail suivant : <%= @user.email %>.
          </p>
          <p>
            Pour accéder à ton dashboard, connecte-toi <a href ="<%= @url %>">en cliquant ici</a>.
          </p>
          <p> À très vite sur Influence !</p>
        </div>
    </div>
  </body>
</html>