<% if resource.errors.any? %>
  <div id="error_explanation">
    <% resource.errors.full_messages.each do |message| %>
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%case message %>
        <%when 'First name can\'t be blank'%>
          Vous devez renseigner votre prénom
        <%when 'Last name can\'t be blank'%>
          Vous devez renseigner votre nom
        <%when 'Email can\'t be blank'%>
          Vous devez renseigner votre adresse mail
        <%when 'Password confirmation doesn\'t match Password'%>
          La confirmation du mot de passe a échoué
        <%when 'Password is too short (minimum is 6 characters)'%>
          Mot de passe trop court (6 caractères minimum)
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>