<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../app/assets/stylesheets/lux.css" rel="stylesheet">
    <title>Accès interdit</title>
</head>

<body>
    <div style="width:auto">
        <h1 style="text-align: center;">Vous n'avez pas accès à cette ressource.</h1>
        <input type="button" value="Revenir sur le site" onclick="history.back(-1)" style="margin: auto;" />
    </div>
</body>

</html>