<div class="team-boxed">
        <div class="container">
           
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-4 offset-xl-2 item text-center">
                    <%=image_tag("Nazanin.JPG", :class=>"box img-responsive", :class=>"img-fluid rounded-circle")%>
                        <h5 class="name">Nazanin FARSHAD</h5>
                        <p class="title">Contact</p>
                        <p class="description">Nazaninf24@gmail.com</p>
                </div>
                <div class="col-md-6 col-lg-4 item text-center">
                    <%=image_tag("Chelton.JPG", :class=>"box img-responsive", :class=>"img-fluid rounded-circle")%>
                        <h5 class="name">Chelton Ajax</h5>
                        <p class="title">Contact</p>
                        <p class="description">Email</p>
                    
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 offset-xl-2 item text-center">
                    <%=image_tag("Pablo.JPG", :class=>"box img-responsive", :class=>"img-fluid rounded-circle")%>
                        <h5 class="name">Pablo Eskenazi</h5>
                        <p class="title">Contact</p>
                        <p class="description">Email</p>
                    
                </div>
                <div class="col-md-6 col-lg-4 item text-center">
                    <%=image_tag("Jonathan.JPG", :class=>"box img-responsive", :class=>"img-fluid rounded-circle")%>
                        <h5 class="name">Jonathan Sylvestre</h5>
                        <p class="title">Contact</p>
                        <p class="description">Email</p>   
                </div>
            </div>
        </div>
    </div>
    