# <div class="team-boxed">
#         <div class="container">
#             <div class="intro">
#                 <h2 class="text-center">Team </h2>
#                 <h4 class="text-center"><strong>Notre parcours avant The Hacking Project</strong></h4>
#             </div>
#             <div class="row people">
#                 <div class="col-md-6 col-lg-4 col-xl-4 offset-xl-2 item text-center">
#                     <%=image_tag("JB.png", :class=>"box", :class=>"rounded-circle")%>
#                         <h5 class="name">Jean Baptiste DEMENET</h5>
#                         <p class="title">RoR</p>
#                         <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa... Oui je parle couramment Latin. </p>
#                 </div>
#                 <div class="col-md-6 col-lg-4 item text-center">
#                     <%=image_tag("NF.png", :class=>"box", :class=>"rounded-circle")%>
#                         <h5 class="name">Nazanin FARSHAD</h5>
#                         <p class="title">RoR</p>
#                         <p class="description">Approximativement 18 ans passes dans le graphisme et communication visuelle, dont 5 ans comme independant. Je tente par le passage chez THP une reconversion vers les metiers du numeriques, pour devenir developper. </p>
                    
#                 </div>
#                 <div class="col-md-6 col-lg-4 col-xl-4 offset-xl-2 item text-center">
#                     <%=image_tag("JAB.png", :class=>"box", :class=>"rounded-circle")%>
#                         <h5 class="name">Jasmine BANCHEREAU</h5>
#                         <p class="title">RoR</p>
#                         <p class="description">♬♬♬♬ 
#                             10 ans de conservatoire à mon actif, mon coeur m'a poussé vers Fetch Me A Band ! 
#                         Après 2 ans de PAO et d'études des leviers de communication, 1 an commerciale pour une agence de vidéo parisienne, parallèlement à 5 ans de livraison dans la capitale... je cherchais encore ma voie, je remercie grandement THP : le développement web m'a passioné et je ne compte pas m'arrêter là !
#                         ♬♬♬♬ </p>
                    
#                 </div>
#                 <div class="col-md-6 col-lg-4 item text-center">
#                     <%=image_tag("JM.png", :class=>"box", :class=>"rounded-circle")%>
#                         <h5 class="name">Jean Marc DARDY</h5>
#                         <p class="title">RoR</p>
#                         <p class="description"> 51 ans</p>
#                         <p class="description"> Approximativement 30 ans passes dans le commerce dont 7 ans comme independant. Je tente par le passage chez THP une reconversion vers les metiers du numeriques, pour devenir Chef de Projet Digital </p>
                    
#                 </div>
#             </div>
#         </div>
#     </div>