<div class="container mt-3 mb-4">
    <div class="row justify-content-center">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header bg-primary"><h4 class="text-white text-center">Tu es Influenceur</h4></div>
                    <div class="card-body project-list">
                        <div class="row mx-5">
                            
        <p>Ta <strong>communauté</strong> commence à grossir et tu aimerais te <strong>professionnaliser</strong> ?</p>

        <p><strong>Influence</strong> te propose d’inviter des <strong>Freelances</strong> à participer à ton projet.</p>

        <p>Photographe, Monteur, Maquilleur ou Graphiste, tu peux choisir le Freelance qui répondra à <strong>tes besoins</strong> et à ton budget.</p>

        <p><strong>Crée ton projet</strong>, et parcours les annonces.</p>

        <p>Tu peux filtrer les annonces par <strong>métier</strong>, par <strong>ville</strong> et par <strong>tarif journalier</strong>.</p>

        <p>Une fois que tu as trouvé l'annonce qui correspond à <strong>tes besoins</strong>, tu peux inviter le <strong>Freelance</strong> à <strong>participer à ton projet.</strong></p>

        <p>Il sera notifié par email, et tu recevras son contact pour convenir de la prestation.</p>
        </div>
                        
                    </div>
                </div>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="row justify-content-center">
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header bg-primary"><h4 class="text-white text-center">Tu es Freelance</h4></div>
                        <div class="card-body project-list">
                            <div class="row mx-5">
        
        <p>Tu souhaites trouver des <strong>clients facilement ?</strong></p>

        <p>Avec <strong>Influence</strong>, tu peux <strong>créer ton annonce</strong> en quelques clics.</p>

        <p>Tu seras <strong>visible par des Influenceurs en vogue</strong> qui souhaite <strong>professionnaliser leur activité.</strong> </p>

        <p>Tu seras notifié par email lorsqu’un <strong>Influenceur sera intéressé</strong> par ton annonce.</p>

        <p>Tu peux aussi <strong>parcourir les projets</strong> des Influenceurs pour postuler à <strong>un projet qui te tient à coeur.</strong></p>

        <p>L’Influenceur sera notifié de ton intérêt, et il pourra te contacter si ton offre l'intéresse.</p>
    </div>
                        
</div>
</div>
</div>
</div>
</div>
    </div>
    <br>
        <hr>
        <br>
      <div class="row justify-content-center">
          <div class="col-md-9">
              <div class="card">
                    <div class="card-header bg-primary"><h4 class="text-white text-center">Notre équipe</h4></div>
                  <div class="card-body project-list">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-4 offset-xl-2 item text-center">
                    <%=image_tag("Nazanin.JPG", :class=>"img-responsive img-fluid rounded-circle")%>
                        <h5 class="mt-4">Nazanin FARSHAD</h5>
                        <p class="nounderline"><a href="mailto:nazaninf24@gmail.com">Contactez Moi</a></p>     
                </div>
                <div class="col-md-6 col-lg-4 item text-center">
                    <%=image_tag("Chelton.JPG", :class=>"img-responsive img-fluid rounded-circle")%>
                        <h5 class="mt-4">Chelton Ajax</h5>
                        <p class="nounderline"><a href="mailto:chelton@yahoo.fr">Contactez Moi</a></p> 
                    
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4 offset-xl-2 item text-center">
                    <%=image_tag("Pablo.JPG",:class=>"img-responsive img-fluid rounded-circle")%>
                        <h5 class="mt-4">Pablo Eskenazi</h5>
                        <p class="nounderline"><a href="mailto:pablo.eskenazi@gmail.com">Contactez Moi</a></p> 
                        
                    
                </div>
                <div class="col-md-6 col-lg-4 item text-center">
                    <%=image_tag("Jonathan.JPG", :class=>"img-responsive img-fluid rounded-circle")%>
                        <h5 class="mt-4">Jonathan Sylvestre</h5>
                        <p class="nounderline"><a href="mailto:jonathan.sylvestre@yopmail.com">Contactez Moi</a></p>   
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>