<br>
<br>
<div class="justify-content-center text-center mt-5 mb-5">
    <h4>Merci pour votre message !</h4>
    <br>
    <p class="font-weight-bold">Je serai de retour avec vous bientôt</p>
</div>
<br>
<br>