
<h1 class="text-center" style="margin-top: 2rem;">Liste des projets disponibles</h1>

<div class="container" style='margin-top: 5rem;'>
  <div class="row">
  <% @projects.each do |project| %>
  <div class="col-md-4  d-flex justify-content-around">
    <div class="card mb-5" style="width:20rem;">
      <h3 class="card-header"><%= project.title =%></h3>
      <img style="height: auto; width: 100%; display: block;" src="<%= project.picture =%>" alt="Card image">
      <div class="card-body">
        <p class="card-text"><%= truncate(project.description.tr('[\"\"]',''), :length => 60)  =%></p>
        <%= link_to "En voir plus", project_path(project.id) %>
        <hr>
      </div>
    </div>
  </div>
  <% end %>
  </div>
</div> 