<p>Salut <%= @email %> !</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous te contactons pour te prévenir que ton adresse email va être changé par <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous te contactons pour te prévenir que ton adresse email à été changé par <%= @resource.email %>.</p>
<% end %>

<p> À très vite sur Influence !</p>
