<p>Salut <%= @resource.email %> !</p>

<p>Tu as oublié ton mot de passe ? Pas de soucis, clique sur le lien :</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si ce n'est pas toi qui a enclanché cet action, ignore cet email.</p>
<p>Ton mot de passe reste inchangé tant que tu n'as pas cliqué sur le lien et choisi un nouveau.</p>

<p> À très vite sur Influence !</p>
